<nb-card class="user-buildings-filter-card">
  <nb-card-header>
    <div class="space space331">
      <h5 class="heading11 text-basic">Filters</h5>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space341">
      <div class="space space4111">
        <label class="text2111 text-basic label" translate>Address</label>
      </div>
      <div class="space space4211">
        <nb-select class="country-buildings-filter11 size-xl-medium" translate placeholder="Country" status="primary">
            <nb-option value="USA">USA</nb-option>
            <nb-option value="UK">UK</nb-option>
            <nb-option value="France">France</nb-option>
        </nb-select>
        <nb-select class="city-buildings-filter11 size-xl-medium" translate placeholder="City" status="primary">
            <nb-option value="New York">New York</nb-option>
            <nb-option value="Denver">Denver</nb-option>
            <nb-option value="Salt Lake City">Salt Lake City</nb-option>
        </nb-select>
      </div>
      <div class="space space4421">
        <label class="text2321 text-basic label">Building</label>
      </div>
      <div class="space space4521">
        <nb-select class="building-buildings-filter11 size-xl-medium" placeholder="Building" status="primary">
            <nb-option value="Merryline">Merryline</nb-option>
            <nb-option value="test2">test2</nb-option>
        </nb-select>
      </div>
      <div class="space space44111">
        <label class="text23111 text-basic label">Devices amount</label>
      </div>
      <div class="space space1311">
        <input nbInput class="amount-min-buildings-filter11 size-xl-medium" placeholder="Enter Value" type="number" shape="semi-round" status="basic">
        <h2 class="heading91 text-undefined text-alignment-center text-transform-uppercase">-</h2>
        <input nbInput class="amount-max-buildings-filter11 size-xl-medium" placeholder="Enter Value" type="number" shape="semi-round" status="basic">
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space351">

    </div>
  </nb-card-footer>
</nb-card>
