<nb-accordion class="admin-devices-per-buildings-accordion"  multi="false">
  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Item 1</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space2">
        <app-smart-table class="devices-in-building-data-table" [settings]="settings" [source]="source"></app-smart-table>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Item 2</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space3">
        
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>