<div class="space space50">
  <button nbButton class="update-profile-button size-xl-medium" appearance="filled" (click)="addLocation()">{{'AddLocation' | translate}}</button>
</div>
<nb-accordion class="admin-devices-per-buildings-accordion"  multi="false">
  <nb-accordion-item class="slot" *ngFor="let pair of data;">
    <nb-accordion-item-header>{{pair.Key}}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space2">
        <buildings-smart-table class="devices-in-building-data-table" [settings]="settings" [source]="pair.Value"></buildings-smart-table>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<button nbButton (click)="getDevices()">{{'Submit' | translate}}</button>
