<nb-card class="profile-card">
  <nb-card-header>
    <div class="space space48">
      <h5 class="heading10 text-basic">Create device type</h5>
    </div>
  </nb-card-header>

  <nb-card-body>
<!--    <div class="space space49">-->
<!--      <div class="space space51">-->
<!--        <div class="space space65">-->
<!--          <label class="text141 text-basic label">Name</label>-->
<!--          <input nbInput class="user-name-profile size-xl-medium" type="text" shape="rectangle" status="basic">-->
<!--        </div>-->

<!--        <h1 class="heading12 text-basic" translate>Fields</h1>-->
<!--        <app-field-list></app-field-list>-->
<!--      </div>-->
<!--    </div>-->

<!--    <mat-list *ngFor="let field in fields">-->
<!--      <label class="text141 text-basic label">Name</label>-->
<!--      <input nbInput class="user-name-profile size-xl-medium" type="text" shape="rectangle" status="basic"  [(ngModel)]="field.name">-->
<!--      <label class="text141 text-basic label">Value</label>-->
<!--      <input nbInput class="user-name-profile size-xl-medium" type="text" shape="rectangle" status="basic" [(ngModel)]="field.value">-->
<!--    </mat-list>-->
    <ul [formGroup]="form">
      <mat-label style="margin-right: 20px">Name:</mat-label>
      <input nbInput class="user-name-profile size-xl-medium"  type="text" formControlName="name">

      <h3 style="margin-bottom: 20px ">Fields:</h3>
      <ng-container formArrayName="fields">
        <li style="margin-left: 30px"  *ngFor="let control of formArray.controls; let i = index">
          <ng-container [formGroupName]="i">
            <mat-label style="margin-right: 20px">Name:</mat-label>
            <input nbInput class="user-name-profile size-xl-medium" type="text" formControlName="name">
            <mat-label style="margin-right: 20px">Type:</mat-label>
            <nb-select class="select size-xl-tiny" type="text" formControlName="type">
              <nb-option value="int" >Int</nb-option>
              <nb-option value="string" >String</nb-option>
              <nb-option value="bool" >Bool</nb-option>
              <nb-option value="enum" >Enumeration</nb-option>
            </nb-select>
<!--            <ul style="width: 100%; margin: 20px;">-->
<!--              <ng-container formArrayName="possibleValues">-->
<!--                <li style="margin-left: 30px" *ngFor="let control of getVariants(i); let j = index">-->
<!--                  <ng-container [formGroupName]="j">-->
<!--                    <input nbInput class="user-name-profile size-xl-medium" type="text" formControlName="name">-->
<!--                  </ng-container>-->
<!--                </li>-->
<!--              </ng-container>-->
<!--            </ul>-->
          </ng-container>
        </li>
      </ng-container>
    </ul>

    <button nbButton class="card-button size-xl-medium"  (click)="add()" appearance="filled" status="success">
      <nb-icon class="icon btn-icon" icon="plus"></nb-icon>
    </button>
  </nb-card-body>

  <nb-card-footer>

    <div class="buttons_div">
      <button nbButton [mat-dialog-close]="form" (click)="save()" appearance="filled" status="success">Ok</button>
      <button style="float: right;" nbButton (click)="onNoClick()" status="warning">Cancel</button>
    </div>
  </nb-card-footer>
</nb-card>
