<nb-card class="profile-card">
  <nb-card-header>
    <div class="space space48">
      <h5 class="heading10 text-basic">Create device type</h5>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space49">
      <div class="space space51">
        <div class="space space65">
          <label class="text141 text-basic label">Name</label>
          <input nbInput class="user-name-profile size-xl-medium" type="text" shape="rectangle" status="basic">
        </div>

        <h1 class="heading12 text-basic" translate>Fields</h1>
        <app-field-list></app-field-list>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>

    <div class="buttons_div">
      <button nbButton [mat-dialog-close]="data">Ok</button>
      <button style="float: right;" nbButton (click)="onNoClick()">No Thanks</button>
    </div>
  </nb-card-footer>
</nb-card>
