<nb-card class="new-tasks-action-card">
  <nb-card-body>
    <div class="space space10">
      <img class="image1" src="/assets/images/default.svg" src="https://i.ibb.co/6NyQHbZ/Group-94.png">
      <div class="space space4312">
        <h6 class="heading3 text-undefined text-alignment-left text-transform-none">Tasks</h6>
        <p class="text4 text-undefined text-alignment-left text-transform-none paragraph">3 tasks</p>
      </div>
      <p class="text5 text-undefined text-alignment-left text-transform-none paragraph">More</p>
    </div>
  </nb-card-body>
</nb-card>