<nb-card class="message-action-card">
  <nb-card-body>
    <div class="space space11">
      <img class="image6" src="/assets/images/default.svg" src="https://i.ibb.co/kSYG2Nm/Group-96.png">
      <div class="space space431121">
        <h6 class="heading6 text-undefined text-alignment-left text-transform-none">Messages</h6>
        <p class="text34 text-undefined text-alignment-left text-transform-none paragraph">3 messages</p>
      </div>
      <p class="text35 text-undefined text-alignment-left text-transform-none paragraph">More</p>
    </div>
  </nb-card-body>
</nb-card>