<nb-card class="create-user-form">
  <nb-card-header>
    <div class="space space19">
      <h5 class="heading8 text-basic">Create User</h5>
    </div>
  </nb-card-header>

  <nb-card-body ngNativeValidate>
    <div class="space space20">
      <div class="space space22">
        <div class="space space23">
          <div class="space space25">
            <label class="text8 text-basic label">First Name</label>
            <input nbInput class="first-name-register size-xl-medium" placeholder="First name" type="text" shape="rectangle" status="basic">
            <label class="text81 text-basic label">Last Name</label>
            <input nbInput class="last-name-register size-xl-medium" placeholder="Last name" type="text" shape="rectangle" status="basic">
            <div class="space space27">
              <label class="text11 text-basic label">Address</label>
            </div>
            <nb-select class="country-register size-xl-medium" placeholder="Country" status="primary">
                <nb-option value="USA">USA</nb-option>
                <nb-option value="UK">UK</nb-option>
                <nb-option value="France">France</nb-option>
            </nb-select>
            <nb-select class="city-register size-xl-medium" placeholder="City" status="primary">
                <nb-option value="New York">New York</nb-option>
                <nb-option value="Denver">Denver</nb-option>
                <nb-option value="Salt Lake City">Salt Lake City</nb-option>
            </nb-select>
            <input nbInput class="address-register size-xl-medium" placeholder="Address line 1" type="text" shape="rectangle" status="basic">
            <label class="text111 text-basic label">Date of birth</label>

              <input [nbDatepicker]="datepicker1" nbInput class="birthday-register size-xl-medium" placeholder="Enter Date" shape="rectangle" status="basic">
              <nb-datepicker #datepicker1>
              </nb-datepicker>

          </div>
        </div>
        <div class="space space24">
          <div class="space space32">
            <label class="text14 text-basic label">Username</label>
            <input nbInput class="user-name-register size-xl-medium" placeholder="User name" type="text" shape="rectangle" status="basic">
            <label class="text101 text-basic label">Email</label>
            <input nbInput class="emai-register size-xl-medium" placeholder="E-mail" type="email"  shape="rectangle" status="basic">
            <label class="text1011 text-basic label">Password</label>
            <input nbInput class="password-register size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
            <label class="text1012 text-basic label">Repeat password</label>
            <input nbInput class="repeat-password-register size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
            <label class="text10 text-basic label">Phone number</label>
            <input nbInput class="phonenumber-register size-xl-medium" placeholder="+38(0**)***-**-**" type="tel" pattern="^\d{4}-\d{3}-\d{4}$" shape="rectangle" status="basic">
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space21">
      <button nbButton class="create-user-button size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>CREATE USER</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>
