<nb-layout withScroll [class.header-hidden]="!(layout$ | async)?.header">

  <nb-layout-header *ngIf="(layout$ | async)?.header" class="header">
    <div class="space space5">
      <nb-select class="localization size-xl-tiny" placeholder="Localization" status="primary">
          <nb-option>Українська</nb-option>
          <nb-option>English</nb-option>
      </nb-select>
      <nb-select [(selected)]="theme" (selectedChange)="OnSelectedChanged()" class="mode size-xl-tiny" placeholder="Mode" status="primary">
          <nb-option value="light">Light mode</nb-option>
          <nb-option value="mydark">Dark mode</nb-option>
      </nb-select>
      <input nbInput class="input size-xl-medium" placeholder="Search" type="text" shape="rectangle" status="basic">
      <img class="image7" src="/assets/images/default.svg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB2NOYEVAvkEen65Agj2fFeGV88-r_hJm3mL4nPChzz_ih9NpV">
    </div>
  </nb-layout-header>

  <nb-sidebar *ngIf="(layout$ | async)?.sidebar" class="sidebar" responsive="true" [collapsedBreakpoints]="['xs', 'is', 'sm']" [compactedBreakpoints]="[]">
    <div class="space sidebar-space">
      <nb-menu class="menu" [items]="items"></nb-menu>
    </div>
  </nb-sidebar>

  <nb-layout-column [style.padding]="padding$ | async">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
