<nb-card class="new-message-action-card">
  <nb-card-body>
    <div class="space space9">
      <img class="image" src="/assets/images/default.svg" src="https://media.creativemornings.com/uploads/user/avatar/2279/kim_face_circle.jpeg">
      <div class="space space432">
        <h6 class="heading2 text-undefined text-alignment-left text-transform-none">Buildings</h6>
        <p class="text2 text-undefined text-alignment-left text-transform-none paragraph">from Victoria</p>
      </div>
      <p class="text3 text-undefined text-alignment-left text-transform-none paragraph">More</p>
    </div>
  </nb-card-body>
</nb-card>