<nb-accordion class="user-devices-per-buildings-accordion"  multi="false">
  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Item 1</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space210">
        <app-smart-table class="devices-in-building-data-table1" [settings]="settings" [source]="source"></app-smart-table>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Item 2</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space38">
        
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>