<nb-card class="admin-buildings-filter-card">
  <nb-card-header>
    <div class="space space33">
      <h5 class="heading1 text-basic">Filters</h5>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space34">
      <div class="space space36">
        <div class="space space37">
          <div class="space space41">
            <label class="text21 text-basic label">Address</label>
          </div>
          <div class="space space42">
            <nb-select class="country-buildings-filter size-xl-medium" placeholder="Country" status="primary">    
                <nb-option value="USA">USA</nb-option>    
                <nb-option value="UK">UK</nb-option>    
                <nb-option value="France">France</nb-option>
            </nb-select>
            <nb-select class="city-buildings-filter size-xl-medium" placeholder="City" status="primary">    
                <nb-option value="New York">New York</nb-option>    
                <nb-option value="Denver">Denver</nb-option>    
                <nb-option value="Salt Lake City">Salt Lake City</nb-option>
            </nb-select>
          </div>
          <div class="space space44">
            <label class="text23 text-basic label">Building</label>
          </div>
          <div class="space space45">
            <nb-select class="building-buildings-filter size-xl-medium" placeholder="Building" status="primary">    
                <nb-option value="Merryline">Merryline</nb-option>    
                <nb-option value="test2">test2</nb-option>
            </nb-select>
          </div>
          <div class="space space441">
            <label class="text231 text-basic label">Devices amount</label>
          </div>
          <div class="space space451">
            <div class="space space13">
              <input nbInput class="amount-min-buildings-filter size-xl-medium" placeholder="Enter Value" type="number" shape="semi-round" status="basic">
              <h2 class="heading text-undefined text-alignment-center text-transform-uppercase">-</h2>
              <input nbInput class="amount-max-buildings-filter size-xl-medium" placeholder="Enter Value" type="number" shape="semi-round" status="basic">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space35">
      
    </div>
  </nb-card-footer>
</nb-card>