<nb-card class="system-action-card">
  <nb-card-body>
    <div class="space space12">
      <img class="image2" src="/assets/images/default.svg" src="https://i.ibb.co/4NkDJPJ/Group-95.png">
      <div class="space space431111">
        <h6 class="heading4 text-undefined text-alignment-left text-transform-none">System</h6>
        <p class="text6 text-undefined text-alignment-left text-transform-none paragraph">2 updates</p>
      </div>
      <p class="text7 text-undefined text-alignment-left text-transform-none paragraph">More</p>
    </div>
  </nb-card-body>
</nb-card>