<nb-card class="profile-card">
  <nb-card-header>
    <div class="space space48">
      <h5 class="heading10 text-basic">Profile</h5>
      <span class="text16 text-basic caption-2">Update your information here</span>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space49">
      <div class="space space51">
        <div class="space space65">
          <label class="text141 text-basic label">Username</label>
          <input nbInput class="user-name-profile size-xl-medium" placeholder="User name" type="text" shape="rectangle" status="basic">
          <label class="text24 text-basic label">Email</label>
          <input nbInput class="email-profile size-xl-medium" placeholder="" type="email" shape="rectangle" status="basic">
        </div>
        <h6 class="heading12 text-basic">Password</h6>
        <div class="space space58">
          <label class="text17 text-basic label">Current Password</label>
          <input nbInput class="current-password-profile size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
          <label class="text18 text-basic label">New Password</label>
          <input nbInput class="new-password-profile size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
          <label class="text19 text-basic label">Repeat New Password</label>
          <input nbInput class="repeat-new-password-profile size-xl-medium" placeholder="" type="password" shape="rectangle" status="basic">
        </div>
      </div>
      <div class="space space54">
        <div class="space space64">
          <h6 class="heading14 text-basic">Contact info</h6>
        </div>
        <div class="space space251">
          <label class="text82 text-basic label">First Name</label>
          <input nbInput class="first-name-profile size-xl-medium" placeholder="First name" type="text" shape="rectangle" status="basic">
          <label class="text811 text-basic label">Last Name</label>
          <input nbInput class="last-name-profile size-xl-medium" placeholder="Last name" type="text" shape="rectangle" status="basic">
          <label class="text25 text-basic label">Phone</label>
          <input nbInput class="phone-profile size-xl-medium" placeholder="" type="text" shape="rectangle" status="basic">
          <div class="space space272">
            <label class="text112 text-basic label">Address</label>
          </div>
          <nb-select class="country-profile size-xl-medium" placeholder="Country" status="primary">    
              <nb-option value="USA">USA</nb-option>    
              <nb-option value="UK">UK</nb-option>    
              <nb-option value="France">France</nb-option>
          </nb-select>
          <nb-select class="city-profile size-xl-medium" placeholder="City" status="primary">    
              <nb-option value="New York">New York</nb-option>    
              <nb-option value="Denver">Denver</nb-option>    
              <nb-option value="Salt Lake City">Salt Lake City</nb-option>
          </nb-select>
          <input nbInput class="address-profile size-xl-medium" placeholder="Address line 1" type="text" shape="rectangle" status="basic">
          <label class="text1111 text-basic label">Date of birth</label>
          
            <input [nbDatepicker]="datepicker2" nbInput class="birthday-profile size-xl-medium" placeholder="Enter Date" shape="rectangle" status="basic">
            <nb-datepicker #datepicker2>
            </nb-datepicker>
          
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space50">
      <button nbButton class="update-profile-button size-xl-medium" appearance="filled" status="success">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Update Profile</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>