<nb-tabset class="tabs" fullWidth>
  <nb-tab tabTitle="Users" class="slot">
    <div class="space space-component">
      <app-users-table></app-users-table>
    </div>
  </nb-tab>

  <nb-tab tabTitle="Buildings" class="slot">
    <div class="space space1">
      <app-admin-buildings-filter-card></app-admin-buildings-filter-card>
      <a nbButton routerLink="/user" class="filter-button size-xl-large" appearance="filled" status="basic">
        <nb-icon class="icon btn-icon" icon="funnel"></nb-icon>
        <span>Button Link</span>
      </a>
      <app-admin-devices-per-buildings-accordion></app-admin-devices-per-buildings-accordion>
    </div>
  </nb-tab>

  <nb-tab tabTitle="Login" class="slot">
    <div class="space space6">
      <app-login-card></app-login-card>
    </div>
  </nb-tab>

  <nb-tab tabTitle="Register" class="slot">
    <div class="space space18">
      <app-create-user-form></app-create-user-form>
    </div>
  </nb-tab>

  <nb-tab tabTitle="backup" class="slot">
    <div class="space space7">
      <app-new-message-action-card></app-new-message-action-card>
      <app-new-tasks-action-card></app-new-tasks-action-card>
      <app-message-action-card></app-message-action-card>
      <app-system-action-card></app-system-action-card>
    </div>
  </nb-tab>
</nb-tabset>