<table class="user-devices-table1 border">
  <thead>
    <th>
      <div class="space space31">
        <span class="text9 text-undefined text-alignment-left text-transform-none subtitle">Id</span>
      </div>
    </th>
    <th>
      <div class="space space39">
        <span class="text12 text-undefined text-alignment-left text-transform-none subtitle">Type</span>
      </div>
    </th>
    <th>
      <div class="space space52">
        <span class="text13 text-basic text-alignment-left text-transform-none subtitle">Name</span>
      </div>
    </th>
    <th>
      <div class="space space53">
        <span class="text15 text-basic text-alignment-left text-transform-none subtitle">Action</span>
      </div>
    </th>
  </thead>
  <tbody>  
    <tr>  
      <td class="slot">
        <div class="space space43">
          <input nbInput class="id-input1 size-xl-medium" placeholder="Id" type="number" shape="rectangle" status="basic">
        </div>
      </td>  
      <td class="slot">
        <div class="space space46">
          <nb-select class="type-select1 size-xl-medium" placeholder="select" status="primary">    
              <nb-option value="option 1">option 1</nb-option>    
              <nb-option value="option 2">option 2</nb-option>
          </nb-select>
        </div>
      </td>  
      <td class="slot">
        <div class="space space521">
          <input nbInput class="name-input1 size-xl-medium" placeholder="Name" type="text" shape="rectangle" status="basic">
        </div>
      </td>  
      <td class="slot">
        <div class="space space531">
          <button nbButton class="connect-button1 size-xl-medium" appearance="filled" status="primary">
            <nb-icon class="icon btn-icon" icon="star"></nb-icon>
            <span>Connect</span>
          </button>
        </div>
      </td>
    </tr>  
  </tbody>
</table>