@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  header-height: 80px,
  header-padding: 16px,
  header-background-color: background-basic-color-1,
  sidebar-width: 256px,
  sidebar-padding: 16px,
  sidebar-background-color: background-basic-color-1,

  border-radius: 0.5rem,
  bg-default-color: color-basic-100,
  bg-disabled-color: color-basic-400,
  card-disabled-header-border-color: color-basic-500,
  card-disabled-footer-border-color: color-basic-500,
  table-disabled-border-color: color-basic-500,
  bg-hint-color: color-basic-200,
  card-hint-header-border-color: color-basic-300,
  card-hint-footer-border-color: color-basic-300,
  table-hint-border-color: color-basic-400,
  table-border-color: color-basic-500,
  shadow: 0 0.5rem 1rem 0 rgba(113, 136, 181, 0.1),

  input-tiny-max-width: 100%,
  input-small-max-width: 100%,
  input-medium-max-width: 100%,
  input-large-max-width: 100%,
  input-giant-max-width: 100%,
  select-tiny-max-width: 100%,
  select-small-max-width: 100%,
  select-medium-max-width: 100%,
  select-large-max-width: 100%,
  select-giant-max-width: 100%,
  color-basic-100: #F8FCFF,
  color-basic-200: #EFF6FC,
  color-basic-300: #DFEDFA,
  color-basic-400: #CBDCF1,
  color-basic-500: #B7C9E4,
  color-basic-600: #9BB0D3,
  color-basic-700: #7188B5,
  color-basic-800: #4E6497,
  color-basic-900: #31447A,
  color-basic-1000: #1D2D65,
  color-basic-1100: #121C47,

  color-primary-100: #CCD6F7,
  color-primary-200: #9CAEF0,
  color-primary-300: #647AD2,
  color-primary-400: #394DA5,
  color-primary-500: #0E1D6A,
  color-primary-600: #0A165B,
  color-primary-700: #070F4C,
  color-primary-800: #040A3D,
  color-primary-900: #020732,

  color-info-100: #CCEAFA,
  color-info-200: #9BD2F5,
  color-info-300: #65ACE3,
  color-info-400: #3D84C7,
  color-info-500: #0D53A3,
  color-info-600: #09408C,
  color-info-700: #062F75,
  color-info-800: #04215E,
  color-info-900: #02174E,

  color-success-100: #E2F8CD,
  color-success-200: #C0F19E,
  color-success-300: #8DD668,
  color-success-400: #5BAD3D,
  color-success-500: #247711,
  color-success-600: #16660C,
  color-success-700: #0B5508,
  color-success-800: #054507,
  color-success-900: #033909,

  color-warning-100: #FAE9CB,
  color-warning-200: #F5D09A,
  color-warning-300: #E1A764,
  color-warning-400: #C47D3C,
  color-warning-500: #9E490C,
  color-warning-600: #873608,
  color-warning-700: #712606,
  color-warning-800: #5B1903,
  color-warning-900: #4B1002,

  color-danger-100: #FADBD0,
  color-danger-200: #F5B2A3,
  color-danger-300: #E27B71,
  color-danger-400: #C54A4B,
  color-danger-500: #A01B28,
  color-danger-600: #89132A,
  color-danger-700: #730D2A,
  color-danger-800: #5C0827,
  color-danger-900: #4C0526,
  icon-tiny-size: 0.75rem,
  icon-small-size: 1rem,
  icon-medium-size: 1.25rem,
  icon-large-size: 1.5rem,
  icon-giant-size: 2rem,


  card-margin-bottom: 0,
  outline-width: 0,

), light, default);

$nb-themes: nb-register-theme((

  header-height: 80px,
  header-padding: 16px,
  header-background-color: background-basic-color-1,
  sidebar-width: 256px,
  sidebar-padding: 16px,
  sidebar-background-color: bg-hint-color,

  border-radius: 0.5rem,
  bg-default-color: color-basic-800,
  bg-disabled-color: color-basic-900,
  card-disabled-header-border-color: color-basic-700,
  card-disabled-footer-border-color: color-basic-700,
  table-disabled-border-color: color-basic-700,
  bg-hint-color: color-basic-700,
  card-hint-header-border-color: color-basic-600,
  card-hint-footer-border-color: color-basic-600,
  table-hint-border-color: color-basic-600,
  table-border-color: color-basic-700,
  shadow: none,

  input-tiny-max-width: 100%,
  input-small-max-width: 100%,
  input-medium-max-width: 100%,
  input-large-max-width: 100%,
  input-giant-max-width: 100%,
  select-tiny-max-width: 100%,
  select-small-max-width: 100%,
  select-medium-max-width: 100%,
  select-large-max-width: 100%,
  select-giant-max-width: 100%,
  color-basic-100: #FEFEFF,
  color-basic-200: #F6F6F7,
  color-basic-300: #EEEEEF,
  color-basic-400: #CFCFD1,
  color-basic-500: #A2A2A4,
  color-basic-600: #666668,
  color-basic-700: #4A4A59,
  color-basic-800: #33334A,
  color-basic-900: #20203C,
  color-basic-1000: #131331,
  color-basic-1100: #0C0C23,

  color-primary-100: #FCFCDE,
  color-primary-200: #FAFABD,
  color-primary-300: #F1F299,
  color-primary-400: #E3E57C,
  color-primary-500: #D2D453,
  color-primary-600: #B4B63C,
  color-primary-700: #969829,
  color-primary-800: #787A1A,
  color-primary-900: #63650F,

  color-info-100: #CEF1FF,
  color-info-200: #9CDEFF,
  color-info-300: #6CC6FF,
  color-info-400: #47AFFF,
  color-info-500: #0A88FF,
  color-info-600: #0769DB,
  color-info-700: #054EB7,
  color-info-800: #033793,
  color-info-900: #01277A,

  color-success-100: #D5F6D3,
  color-success-200: #A9EEAC,
  color-success-300: #74CD80,
  color-success-400: #479C5B,
  color-success-500: #195b2f,
  color-success-600: #124E2C,
  color-success-700: #0C4128,
  color-success-800: #073424,
  color-success-900: #042B21,

  color-warning-100: #FFF8CF,
  color-warning-200: #FFF09F,
  color-warning-300: #FFE66F,
  color-warning-400: #FFDC4B,
  color-warning-500: #FFCB0F,
  color-warning-600: #DBA90A,
  color-warning-700: #B78907,
  color-warning-800: #936B04,
  color-warning-900: #7A5502,

  color-danger-100: #FFEDE1,
  color-danger-200: #FFD7C3,
  color-danger-300: #FFBBA6,
  color-danger-400: #FFA290,
  color-danger-500: #FF776B,
  color-danger-600: #DB4E4E,
  color-danger-700: #B73540,
  color-danger-800: #932234,
  color-danger-900: #7A142D,
  icon-tiny-size: 0.75rem,
  icon-small-size: 1rem,
  icon-medium-size: 1.25rem,
  icon-large-size: 1.5rem,
  icon-giant-size: 2rem,


  card-margin-bottom: 0,
  outline-width: 0,

), mydark, dark);


